div .radio{
	margin-top:5px;
	margin-left:25px;
	float:left;
}
.filePos{
	margin-left:-140px;
}
.remind-note{
	color:#F00;
	font-weight:bold;
	font-size:17px;
}
.remind-danger{
	color:#F90;
	margin-left:25px;
}
